<div class="control-group" id="container-{{ id }}">
    <label class="control-label" for="{{ id }}">{{ label }}</label>
    <div class="controls">
        {{#each options}} 
            <input type="checkbox" id="{{ id }}" name="{{ name }}" value="{{ value }}" /> {{ label }}
        {{/each}}
        <span class="help-inline">{{ help }}</span>
    </div>
</div>
