<div class="control-group" id="container-{{ id }}">
    <label class="control-label {{ labelclass }}" for="{{ id }}">{{ label }}</label>
    <div class="controls">
        <input type="text" placeholder="{{ placeholder }}" id="{{ id }}" name="{{ name }}" value="{{ value }}" class="{{ class }}" />
        <span class="description">{{ description }}</span>
        <span class="help-inline">{{ help }}</span>
    </div>
</div>
